@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Open+Sans:wght@400;700;800&family=Work+Sans:wght@300;400;500;600;700;800&display=swap');

*{
  font-family: 'Lato', sans-serif;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Work Sans', sans-serif;
}

.nav-left div, figure {
  display: flex;
  flex-direction: row;
  margin-left: 150px ;
   
}
.Gamer {
  font-size: 30px;
  
}
nav  img{
  margin-left: 10px;
  width: 70px ;
  height: 30px;
  position: relative;
  top: 33px;
  margin-right: 10px;
}
.G{
  color: #FF42A5 ; 
}
.nav-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.nav-right{
  display: flex;
}
.nav-right > ul {
  display: flex;
}
.nav-right ul li {
  list-style: none;
  margin-right: 20px;
}
.box {
  display: flex;
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.10);
  padding: 2px 15px;
  margin-right: 60px;
}
.box:hover{
    border: 1px solid black;
  cursor: pointer;
}
.box-title {
  font-size: 16px;
  font-weight: 400;
  margin-right: 20px;
}
.icons {
  position: relative;
  bottom: 20px;
  margin: none;
}
.icons > img {
  margin-left: px;
  
  width: 33.916px;
  height: 24px;
}



/* banner section start */

.banner-container{
  display: flex;
  justify-content: space-between;
  background-image: url(../images/Group\ 14.png) ;
  background-repeat: no-repeat;
  
  
}
.banner-contant{
  margin-top: 150px;
  margin-left: 240px;
 
 background-repeat: no-repeat ;

}
.banner-title-1{
  color: #0B0223;
  font-size: 48px ;
  margin-bottom: 0;
  font-weight: 600;

}
.banner-title-2{
  font-size: 90px;
  background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 0px;
  margin-bottom: 0;
}
.banner-description{
  color: #534C64;
  font-size: 20px;
  font-weight: 500;
}
.button{
  display: flex;
  gap: 20px;
  margin-top: 40px;
}
.btn-1{
  border-radius: 48px;
background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
  padding: 21px 30px;
  
  border-radius: 40px;
  
  color: #FFF;
  border: none;
   font-size: 20px;
}
.btn-2{
  border-radius: 48px;
  padding: 21px 30px;
  
  border-radius: 40px;
  
  color: #FFF;
  border: none;
   font-size: 20px;
   background: #4EC5F7;

}
.btn-1:hover{
  border: 1px solid black;
  cursor: pointer;
}
.btn-2:hover{
  border: 1px solid black;
  cursor: pointer;
}
.banner-images{
  margin-right: 170px;

}


/* banner finish */


/* gamer section start */
.gamer-container{
  display: flex;
  justify-content: space-between;
  margin-top: 0px;
  background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}
.gamer-image{
  margin-left: 150px;

}
.gamer-contant{
  text-align: right;
  margin: auto;
  margin-right: 200px;
}
.gamer-title{
  background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 48px;
  font-weight: 700;
}
.gamer-description{
  
  color: #534C64;
  font-size: 18px;
  font-weight: 400;
}
.unleash{
  font-weight: 700;
  font-size: 30px;
  color:#534C64;;
}

/* online game section start */

.online-game-images  {
  display: flex;
 
  
}
figure{
  align-items: center;
  margin: 50px;
   opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
  
}

.online-game-images {
  display: flex;
}
.online-game-contant{
  text-align: center;
}
.online-game-title{
  color: #0B0223;
  font-size: 48px;
  font-weight: 700
  
}
.funny-video{
  background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 48px;
  font-weight: 700;
}
.online-game-description{
  color: #534C64;
  font-size: 18px;
  font-weight: 400;
  
}
.caption{
  margin-top: 20px;
  margin-left: 20px;
  color: #534C64;
  font-size: 20px;
  font-weight: 500;
}
.image-box img:hover{
 opacity: 0.3;
 
 
}

/* play instantly section start */
.play-instantly-title{
  font-size: 48px;
  color: #0B0223;
  font-weight: 700;

}

.play-instantly-container{
  display: flex;
  justify-content: space-between;
}
.play-instantly-contant{
  text-align: right;
  margin: auto;

}
.play-instantly-description{
  color: #534C64;
  font-size: 18px;
}
.position{
  position: relative;
  bottom: 380px;
  right: 150px;
}
.play-instantly-images img{
  display: block;
  margin-right: 200px;
  margin-top: 120px;
}




/* banner resposinve */

@media screen and (max-width: 576px) {
 .nav-main{
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
 }
 .nav-left div, figure{
  margin-left: 0px;
 }
 .nav-right{
  flex-direction: column;
 }
 .nav-right ul {
  flex-direction: column;
  margin-bottom: 30px;
 }
 .nav-right ul li{
  margin-bottom: 20px;
 }
 .box{
  margin-right: 0;
  margin-bottom: 90px;
  
 }

 .banner-container{
  flex-direction: column-reverse;
  
  align-items: center;
  text-align: center;
 }
 .banner-images{
  width: 100%;
 }
 .banner-images img{
  margin: 0px 90px;
  
  width: 350px;
  height: 350px;
 
 }



 .banner-contant{
  margin-left: 15px;
  margin-top: 50px;
  text-align: left;
  justify-content: center;
  align-items: center;

  
 }
 .nav-main{
  box-shadow: none;
 }
 .banner-container{
  background-position: 0px 450px;
 }
 .banner-title-1{
  font-size: 35px;
 }
 .banner-title-2{
  font-size: 70px;
 }
 .banner-description{
  font-size: 16px;
 }
 .btn-1{
  padding: 24px;
  font-size: 16px;
 }
 .btn-2{
  padding: 24px;
  font-size: 16px;
 }
}

/* gamer responsive */
 @media screen and (max-width: 576px) {
  .gamer-container{
    flex-direction: column;
    background-image: none;
  }
  .gamer-contant{
    text-align: center;
    align-items: center;
    margin: auto;
    margin-left: 20px;
  }
  .gamer-image img{
    width: 400px;
    height: 280px;
    
    
  }
  .gamer-image{
    margin: auto;
    margin-top: 50px;
    margin-left: 0;
  }
 }

 /* online game responsive  */
 @media screen and (max-width: 576px) {
  .online-game-images {
    flex-direction: column;
    margin-left: 5% ;
 }

 /* play instantly responsive */
 @media screen and (max-width: 576px) {
  .play-instantly-container{
    flex-direction: column;
  }
  .play-instantly-contant{
    text-align: center;
    margin-top: 50px;
    align-items: center;
    width: 375px;

  }
  
  .play-instantly-images{
    margin: 0px auto;
  }
 }
